<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
  
  <style>
    h1 {
      font-family: 'Georgia', serif;
      font-size: 35px;
      color: #9C6644;
    }
    
    p {
      text-align: justify;
      margin: 20px;
    }
  </style>
  
</head>
  
<body>
  <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a href="3map">Map</a></li>
      <li><a href="4a_clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a href="6about_us">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>  
</body>
  
<img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/c58d5d67-483a-4e19-abd1-c01f84392567.image.png?v=1733934176755" width="100%" height="600px">
  
<h1>Welcome to Pisay!</h1>
<p>Studying at Philippine Science High School - Main Campus (PSHS-MC) 
is an exciting yet challenging experience for its 240 new freshies. To help ease this 
transition, the PSHS-MC community has launched "Iskolar Lifestyle: The Official PSHS-MC 
Freshie Hub," a website designed to provide the most unique and memorable experience the 
freshies ought to appreciate and cherish for the rest of their Pisay journey. It serves as 
a central portal that works as every freshie's gateway to the entire PSHS-MC community.
</p>
  
  <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>