<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>The Official PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
</head>
  
<body>
    <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a class="active" href="3map">Map</a></li>
      <li><a href="4a_clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a href="6about_us">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>  
</body>
  
  <p>
    Explore the <i>Tambay @ Pisay</i> areas with our virtual map, making it easier to navigate your way! Get familiar with your new environment and find your way with ease.
  </p>
  
    <h4>Grandstand</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/051a59a3-8852-450f-9518-ce35fe8fbc6d.image.png?v=1747711343468" width="100%" height="150px">
      <p>
        
      </p>
  
    <h4>Front Lobby (FLob)</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/c849ed16-f7c0-4845-9ee4-775b8f1393b7.image.png?v=1747711340450" width="100%" height="150px">
      <p>
        
      </p>
  
    <h4>Back Lobby (BLob)</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/3a64721b-32d1-48d5-98bf-bec4e91e6290.image.png?v=1747711338266" width="100%" height="150px">
      <p>
        
      </p>
  
    <h4>Kala Lane</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/7d11ff93-b2f2-4c3a-bf00-552cfa96096b.image.png?v=1747711316493" width="100%" height="150px">
      <p>
        
      </p>
  
    <h4>Gazebos</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/ad70a06a-35f4-4e5d-b2f1-18b5888c641b.image.png?v=1747711335175" width="100%" height="150px">
      <p>
        
      </p>
  
      <h4>Library</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/be59c44e-270c-4aa0-89eb-f5a2470abf21.image.png?v=1747711520163" width="100%" height="150px">
      <p>
        
      </p>
  
      <h4>Guidance Counselling Unit (GCU)</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/3875b3a1-1dfe-4998-b327-9772c5f0fd3a.image.png?v=1747711332809" width="100%" height="150px">
      <p>
        
      </p>
  
      <h4>Josie's Nook</h4>
      <img src="https://cdn.glitch.global/3c33dcbf-5c1a-4070-868e-3f7d2778a812/02a0950d-b165-419b-9782-b13dc6149852.image.png?v=1747711488614" width="100%" height="150px">
      <p>
        
      </p>
  
  <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>