<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>The Official PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
</head>
  
<body>
    <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a href="3map">Map</a></li>
      <li><a class="active" href="4clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a href="6about_us">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>    
</body>
  
  <p>Dive into the extracurricular side of PSHS-MC! Below is a list of clubs and organizations that all offer a chance to discover and share your passions and talents.</p>
  
  <div class="tabs">
    <button class="tab-button" onclick="window.location.href='4a_clubs'">Academic Clubs</button>
    <button class="tab-button" onclick="window.location.href='4b_rec'">Recreational Clubs</button>
    <button class="tab-button" onclick="window.location.href='4c_perf'">Performing Arts Clubs</button>
    <button class="tab-button" onclick="window.location.href='4d_sports'">Sports Clubs</button>
  </div>
  
  <h2>I. Academic Clubs</h2>
  
    <h4>1. Aksis</h4>
      <div class="club-info">
      <p>
        Social Action<br>
        Venue: 2nd Floor Seminar Room<br>
        Schedule: 7:30-9:00 AM
      </p>
    </div>
  
    <h4>2. AstroSoc </h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/astrosoc?v=1734775991161" width="150px" height="150px">
        <p>
          Astronomy<br>
          Venue:  SHB 102<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
    <h4>3. ATOM </h4>
        <div class="club-info">
        <p>
          Chemistry<br>
          Venue:  SHB 108<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
      <h4>4. CARE </h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/care?v=1734774626916" width="150px" height="150px">
        <p>
          Environment<br>
          Venue:  SHB 109<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>5. Math Club </h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/math?v=1734775359398" width="150px" height="150px">
        <p>
          Math<br>
          Venue:  SHB 404/405<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>6. Pisay.XYZ </h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/xyz?v=1734775391182" width="150px" height="150px">
        <p>
          Maker Club<br>
          Venue:  SHB 410<br>
          Schedule: 7:30-9:00 AM
        </p>
  
      </div>
        <h4>7. SARS+</h4>
        <div class="club-info">
        <p>
          Research<br>
          Venue:  ASTB 203<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>8. Computron </h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/computron?v=1734775447015" width="150px" height="150px">
        <p>
          Computer Science and IT<br>
          Venue:  Samsung Lab<br>
          Schedule: 7:30-9:00 AM and 9:15-10:45 AM
        </p>
      </div>
  
        <h4>9. Karyo Biomedical Society</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/karyo?v=1734775467756" width="150px" height="150px">
        <p>
          Biomedicine<br>
          Venue:  SHB 102<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>10. PSHS-MC MUN</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/mun?v=1734775477270" width="150px" height="150px">
        <p>
          Model United Nations<br>
          Venue:  Reading Room (SHB 308)<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>11. PHYS</h4>
        <div class="club-info">
        <p>
          Physics<br>
          Venue:  ASTB 301<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>12. Tomorrow</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/tomorrow.png?v=1738218643694" width="150px" height="150px">
        <p>
          AI and Data Science<br>
          Venue:  SHB 404/405<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
  <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>