<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>The Official PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
</head>
  
<body>
    <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a href="3map">Map</a></li>
      <li><a class="active" href="4clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a href="6about_us">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>    
</body>
  
  <p>Dive into the extracurricular side of PSHS-MC! Below is a list of clubs and organizations that all offer a chance to discover and share your passions and talents.</p>
  
  <div class="tabs">
    <button class="tab-button" onclick="window.location.href='4a_clubs'">Academic Clubs</button>
    <button class="tab-button" onclick="window.location.href='4b_rec'">Recreational Clubs</button>
    <button class="tab-button" onclick="window.location.href='4c_perf'">Performing Arts Clubs</button>
    <button class="tab-button" onclick="window.location.href='4d_sports'">Sports Clubs</button>
  </div>
  
    <h2>II. Recreational Clubs</h2>
  
        <h4>1. ACTS </h4>
        <div class="club-info">
        <p>
          Non-Catholic<br>
          Venue:  ASTB AVR<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>2. Animo</h4>
        <div class="club-info">
        <p>
          Chess<br>
          Venue:  BRHM<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>3. Bake Club</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/bake?v=1734776473317" width="150px" height="150px">
        <p>
          Baking<br>
          Venue:  ASTB Hall<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>4. Exposure</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/exposure?v=1734776495887" width="150px" height="150px">
        <p>
          Photography<br>
          Venue: Admin Cafeteria<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>5. Invictus</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/invictus?v=1734776512304" width="150px" height="150px">
        <p>
          Speech and Debate<br>
          Venue:  Learning Center (SHB 310)<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>6. Likha</h4>
        <div class="club-info">
        <p>
          Arts<br>
          Venue:  SHB 407b<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>7. SCA</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/sca?v=1734776607605" width="150px" height="150px">
        <p>
          Student Catholics Association<br>
          Venue:  ASTB AVR<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>8. Celluloid</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/celluloid?v=1734776625600" width="150px" height="150px">
        <p>
          Film<br>
          Venue:  4th Floor Auditorium<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>9. Ellipsis</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/ellipsis?v=1734776658384" width="150px" height="150px">
        <p>
          Literature<br>
          Venue:  Seminar Room<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>10. Loqui</h4>
        <div class="club-info">
        <p>
          Foreign Language<br>
          Venue:  Learning Center (SHB 310)<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>11. Intyale</h4>
        <div class="club-info">
        <p>
          Dungeons and Dragons<br>
          Venue:  ASTB 203<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>12. Polvere</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/polvere?v=1734776716366" width="150px" height="150px">
        <p>
          FPS Games<br>
          Venue:  SHB 115<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>12. Youth Venture Society</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/yvs?v=1734776744983" width="150px" height="150px">
        <p>
          Entrepreneurship and Business<br>
          Venue: Optimum<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
      
  <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>