<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>The Official PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
</head>
  
<body>
    <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a href="3map">Map</a></li>
      <li><a class="active" href="4clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a href="6about_us">About Us</a></li>
      <li><a href="7triviagham">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>    
</body>
  
  <p>Dive into the extracurricular side of PSHS-MC! Below is a list of clubs and organizations that all offer a chance to discover and share your passions and talents.</p>
  
  <div class="tabs">
    <button class="tab-button" onclick="window.location.href='4a_clubs'">Academic Clubs</button>
    <button class="tab-button" onclick="window.location.href='4b_rec'">Recreational Clubs</button>
    <button class="tab-button" onclick="window.location.href='4c_perf'">Performing Arts Clubs</button>
    <button class="tab-button" onclick="window.location.href='4d_sports'">Sports Clubs</button>
  </div>
      <h2>III. Performing Arts</h2>
        <div>      
        <h4>1. Bravura</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/bravura?v=1734776825658" width="150px" height="150px">
        <p>
          Symphonic Ensemble<br>
          Venue:  Dance Room<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>2. Himig Agham </h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/himig?v=1734776851890" width="150px" height="150px">
        <p>
          Choir<br>
          Venue:  Music Room (SHB 411)<br>
          Schedule: 7:30-9:00 AM and 9:15-10:45 AM
        </p>
      </div>
  
        <h4>3. Kamalayan</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/kamalayan?v=1734776881779" width="150px" height="150px">
        <p>
          Filipino Theatre<br>
          Venue:  <br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>4. SaGala</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/sagala?v=1734776898939" width="150px" height="150px">
        <p>
          Dance<br>
          Venue:  Dance Room<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>5. SAMAPI</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/samapi?v=1734776924863" width="150px" height="150px">
        <p>
          Band Music Appreciation<br>
          Venue:  4th Floor Auditorium<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
        <h4>6. Sightlines</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/sightlines?v=1734776936578" width="150px" height="150px">
        <p>
          English Theatre<br>
          Venue:  3rd Floor Auditorium<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
      
        <h4>7. Cuerdas Agham</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/cuerdas?v=1734776949074" width="150px" height="150px">
        <p>
          Rondalla<br>
          Venue: Bowling Room (Gym)<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
    
  <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>