<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>The Official PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
</head>
  
<body>
    <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a href="3map">Map</a></li>
      <li><a class="active" href="4clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a href="6about_us">About Us</a></li>
      <li><a href="7triviagham">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>    
</body>
  
  <p>Dive into the extracurricular side of PSHS-MC! Below is a list of clubs and organizations that all offer a chance to discover and share your passions and talents.</p>
  
  <div class="tabs">
    <button class="tab-button" onclick="window.location.href='4a_clubs'">Academic Clubs</button>
    <button class="tab-button" onclick="window.location.href='4b_rec'">Recreational Clubs</button>
    <button class="tab-button" onclick="window.location.href='4c_perf'">Performing Arts Clubs</button>
    <button class="tab-button" onclick="window.location.href='4d_sports'">Sports Clubs</button>
  </div>
  
      <h2>IV. Sports</h2>
        <h4> 1. Alianti</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/alianti?v=1734763800985" width="150px" height="150px">
        <p>
          Ultimate Frisbee<br>
          Venue: Field<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>2. Kislap</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/kislap?v=1734776979048" width="150px" height="150px">
        <p>
          Volleyball<br>
          Venue:  Voleyball Court<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
        <h4>3. Labuyo</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/labuyo?v=1734777786158" width="150px" height="150px">
        <p>
          Football<br>
          Venue:  Field<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
      
      <h4>4. Pallastro</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/pallastro?v=1734777271838" width="150px" height="150px">
        <p>
          Men's Basketball<br>
          Venue:  Basketball Full Court<br>
          Schedule: 9:15-10:45 AM
        </p>
      </div>
  
      <h4>5. Alyabo</h4>
        <div class="club-info">
        <p>
          Arnis<br>
          Venue:  Open Basketball Court<br>
          Schedule: 9:15 - 10:45 AM
        </p>
      </div>
  
      <h4>6. Flux</h4>
        <div class="club-info">
        <p>
          Swimming<br>
          Venue:  Gym Pool<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
      <h4>7. Sigasig</h4>
        <div class="club-info">
        <p>
          Taekwando<br>
          Venue:  Dance Room<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
      <h4>8. Pendulum</h4>
        <div class="club-info">
        <p>
          Table Tennis<br>
          Venue:  Gym Lobby<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
  
       <h4>9. Volant</h4>
        <div class="club-info">
        <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/volant?v=1734777947868" width="150px" height="150px">
        <p>
          Badminton<br>
          Venue:  Basketball Full Court<br>
          Schedule: 7:30-9:00 AM
        </p>
      </div>
      </div>
      
    <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>