<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="BELEPENDIO, Angel Jasper N. and CATSUELA, Riane Audrey T.">
  <meta name="description" content="">
  <meta name="keywords" content="PSHS-MC, CS3, Q2 Project">
  <title>The Official PSHC-MC Freshie Hub</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="" type="images/ico" sizes="16x16"> <!-- to add a site tab icon -->
  <link rel="icon" href="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/favicon%20(2).ico?v=1738746840855" type="image/ico" /> 
</head>
  
<body>
    <nav class="navbar">
    <div class="website-name">Iskolar Lifestyle</div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="2acad_cal">Academic Calendar</a></li>
      <li><a href="3map">Map</a></li>
      <li><a href="4a_clubs">Clubs</a></li>
      <li><a href="5mini_games">Mini Games</a></li>
      <li><a class="active" href="6about_us">About Us</a></li>
      <li><a href="8profile">Profile</a></li>
  </ul>
</nav>
  
  <script src="script.js"></script>  
</body>
  
  
<section class="aboutus">
  <h2 class="abtus">Get to know more about the creators!</h2>
  
  <div class="section">
    <div class="content">
      <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/angel?v=1734959362494" width="225px" height="300px" class="angel">
      <div class="text"><h3>Angel Jasper N. Belependio</h3>
        <br>
        Sections: B2028 7-Diamond, 8-Sampaguita, 9-Strontium <br>
        Birthday: October 29, 2010 <br>
        Favorite Subjects: <br><br>
        Contact Me On: <br>
        Email: b2028ajnbelependio@pshs.edu.ph <br>
        FB: Angel Jasper N Belependio <br>
        Discord: ri.audrey <br>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="content">
      <img src="https://cdn.glitch.global/02652b7d-1f49-4cb2-83be-f5bf03380b55/audrey?v=1734958869206" width="225px" height="300px" class="audrey">
      <div class="text"><h3>Riane Audrey T. Catsuela</h3>
      <br>
      Sections: B2028 7-Opal, 8-Sampaguita, 9-Strontium <br>
      Birthday: September 2, 2010 <br>
      Favorites Subjects: Paiba-iba hehe but currently Biology, Social Science, and Filipino!<br><br>
      Contact Me On: <br>
      Email: b2028ratcatsuela@pshs.edu.ph<br>
      FB: Audrey Catsuela<br>
      Discord: ri.audrey<br>
      </div>
    </div>
  </div>

</section>

  <footer>
  &copy; A. Belependio and A. Catsuela (Batch 2028 9-Strontium)
  </footer>
</html>